*{background:transparent !important; color:#000 !important; text-shadow:none !important; filter:none !important; -ms-filter:none !important; }
body, .container, .row, .span1, .span2, .span3, 
.span4, .span5, .span6, .span7, .span8, .span9, 
.span10, .span11, .span12{margin:0 !important; padding: 0 !important; }

#botoesPrint a.botao{display: none !important;}
/*line-height: 1.4em; */

@page{
    margin-bottom: 16mm;
    margin-top: 16mm;
    margin-left: 4.5mm;
    margin-right: 4.5mm;
}

/*.etq{width: 96mm !important; height: 35.6mm !important; 
    padding-left: 2mm; padding-top: 2mm; float: left;}*/

.etq{width: 96mm !important; height: 39mm !important; 
    padding-left: 1mm; padding-top: 2mm; float: left; }

.coluna1{width: 66mm !important; float: left;}
.coluna2{width: 30mm !important; float: left;}

.dir{margin-left: 4.5mm;}


.etq img{
    height: 14mm;
    float: right;
    margin: 2mm;
}

.etq h5{text-transform: uppercase; margin: 2mm;}
.etq p{font-size: 3mm; margin: 2mm;}
.etq p.info{font-size: 3.5mm; margin-top: 1mm; color: #F00;}
.etq p.comodato{display: block; font-size: 3.5mm; font-weight: bold; text-align: center; color: #F00 !important; float: right;}